<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
		<!-- 资源加载 多资源场合请加入 ignore-unresolvable="true" 参数-->
	<context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true" />
		<!--  引入通用框架配置文件 -->
	<import resource="classpath*:wsaf-spring-beans.xml"/>
 	<import resource="classpath*:wsaf-spring-jpa.xml" /> 
 	<!-- 允许覆盖 -->
	<context:property-override/>  

	<!-- 数据源定义 -->
	<!-- develop -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="${develop.dataSource.jdbc.driverClassName}" />
		<property name="url" value="${develop.dataSource.jdbc.url}" />
		<property name="username"
			value="${develop.dataSource.jdbc.username}" />
		<property name="password"
			value="${develop.dataSource.jdbc.password}" />
	</bean>
	<bean id="dataSource2"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="${develop.dataSource2.jdbc.driverClassName}" />
		<property name="url" value="${develop2.dataSource.jdbc.url}" />
		<property name="username"
			value="${develop.dataSource2.jdbc.username}" />
		<property name="password"
			value="${develop.dataSource2.jdbc.password}" />
	</bean>
	<bean id = "jdbcTemplate" class = "org.springframework.jdbc.core.JdbcTemplate">
	         <property name = "dataSource" ref="${develop.jdbcTemplate.dataSource}"/>
	</bean>
	
	<!-- test 	
	<bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName" value="${test.dataSource.jndi}"/> 
	</bean>
	<bean id="dataSource2"
		class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName" value="${test.dataSource2.jndi}"/> 
	</bean>
	<bean id = "jdbcTemplate" class = "org.springframework.jdbc.core.JdbcTemplate">
	         <property name = "dataSource" ref="${test.jdbcTemplate.dataSource}"/>
	</bean>	
	
	-->	
	
	<!-- product	
	<bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName" value="${deploy.dataSource.jndi}"/> 
	</bean>
	<bean id = "jdbcTemplate" class = "org.springframework.jdbc.core.JdbcTemplate">
	         <property name = "dataSource" ref="${deploy.jdbcTemplate.dataSource}"/>
	</bean>	
	
		-->	


</beans>
