<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
	<!-- crm   begin -->
    <bean id="sqlserverDatasource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
<!-- 			<property name="driverClass" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/> -->
			<property name="driverClass" value="net.sourceforge.jtds.jdbc.Driver"/>
<!-- 			<property name="jdbcUrl" value="jdbc:sqlserver://10.1.41.51:1433;databaseName=computer_faci_jituan"/> -->
			<property name="jdbcUrl" value="jdbc:jtds:sqlserver://10.1.41.51:1433;DatabaseName=computer_faci_jituan"/>
			<property name="user" value="re_check"/>
			<property name="password" value="xx1111"/>
			<property name="minPoolSize" value="15"/>
			<property name="acquireIncrement" value="5"/>
			<property name="maxPoolSize" value="25"/>
	</bean>
	 
	 <!-- JPA实体管理器工厂 -->
	<bean id="sqlserverEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="sqlserverDatasource" />
		<property name="persistenceProvider" ref="sqlServerPersistenceProvider" />
		<property name="jpaVendorAdapter" ref="sqlserverJpaVendorAdapter" />
		<property name="jpaDialect" ref="sqlServerJpaDialect" />
		<property name="packagesToScan" value="com.wonders.frame.iims.crmmodel.*" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</prop>
				<prop key="hibernate.jdbc.use_scrollable_resultset">false</prop>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
			</props>
		</property>
	</bean>
	<!-- 用于指定持久化实现厂商类 -->
	<bean id="sqlServerPersistenceProvider" class="org.hibernate.ejb.HibernatePersistence" />
	
	<!-- 用于设置JPA实现厂商的特定属性 -->
	<bean id="sqlserverJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="SQL_SERVER" />
	</bean>
	
	<!-- 用于指定一些高级特性 -->
	<bean id="sqlServerJpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
	
	<!-- 事务管理器 -->
<!-- 	<bean id="sqlserverTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"> -->
<!-- 		<property name="entityManagerFactory" ref="sqlserverEntityManagerFactory" /> -->
<!-- 	</bean> -->

	<!-- 配置Spring Data JPA扫描目录-->
<!-- 	<jpa:repositories base-package="com.wonders.frame.iims.crmdao" -->
<!-- 		entity-manager-factory-ref="sqlserverEntityManagerFactory" -->
<!-- 		transaction-manager-ref="sqlserverTransactionManager" -->
<!-- 		repository-impl-postfix="Impl" -->
<!-- 		factory-class="com.wonders.frame.core.dao.DefaultRepositoryFactoryBean"> -->
<!-- 	</jpa:repositories> -->
	
</beans>
