/* CSS Version Default */
/* Version: 1.3.1  || Date: 2013-08-01 || Author: Cathy */
/* Cascading Style Sheets Level 2 Revision 1 */
/* 修正过字体顺序，解决ie7下拉菜单不能选问题 */

body {
  font:12px/1.5 'Helvetica Neue', 'Microsoft YaHei', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
pre,
code {
  font-family: Arial, "Helvetica Neue", "Microsoft YaHei", "Liberation Sans", FreeSans, sans-serif;
}


hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul, li{
  list-style: none;
}

li {
  margin:0;
}

/*p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

*/


/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
/*aside,*/
audio,
/*b,*/
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
/*label,*/
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
/*strong,*/
sub,
summary,
sup,
/*table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
*/u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration:none;
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

html,
body {
  height: 100%;
}


b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden;
}




/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after{
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

.wrapfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.wrapfix {
	display: inline-table;
}
* html .wrapfix {
	height: 0%;
}
.wrapfix {
	display: block;
}





/*position*/
.fl{
	float:left;
}
.fr{
	float:right;
}

.t_r{
	text-align:right;
}
.t_c{
	text-align:center;
}
.mb10{
	margin-bottom:10px;
}
.m10{
	margin:10px;
}
.mlr10{
	margin-left:10px;
	margin-right:10px;
}
.m6{
	margin:6px;
}
.mr_5{
	margin-right:5px;
}
.ml_5{
	margin-left:5px;
}
.mr5{
	margin:0 5px;}
.p10{
	padding:10px;}
.p8{
	padding:8px;}
.plr8{
	padding:0 8px;}
.pt5{
	padding-top:5px;}
.pt10{
	padding-top:10px;}
.pt16{
	padding-top:16px;}
.pt24{
	padding-top:24px;}
.ml210{
	margin-left:210px;
}
.C_fff{
	color:#fff;
}
.mb1{
	margin-bottom:1px;
}
.pl18{
	padding-left:18px;
}
.pt45{
	padding-top:45px;
}
.pl8{
	padding-left:8px;
}
.p0, .p0 td{
	padding:0;}

a{
	text-decoration:none;
	color:#605f5f;
}
a:hover{
	color:#0a438d;
}
.d_il{
	display:inline;
}
.mr8{
	margin-right:8px;
}
.nwarp{
	white-space:nowrap;
}
.bor{
	border:#c7c7c7 1px solid;
}
.w1280{
	width:1280px;
	margin:auto;
}
.w1280 .panel_7{
	width:620px;
	margin:10px;
}
.w1280 .panel_7 .Hcharts, .w360{
	width:360px;
	padding:1px;
}

.w1024{
	width:1002px;
	margin:auto;
}
.w1024 .panel_7{
	width:490px;
	margin:5px;
}
.w1024 .panel_7 .Hcharts{
	width:290px;
	padding:1px;
}
.mw1002{
	min-width:1001px;
}
.mw1070{
	min-width:1070px;
}
.mw1280{
	min-width:1280px;
}
.w700{
	width:490px;
}
.w49p{
	width:47%;
}
.w50p{
	width:50%;
	*width:49.8%;
}
.w55p{
	width:55%}
.w47p{
	width:49.4%;
}
.w25p{
	width:25%;
	*width:24.95%;
}
.w45p{
	width:44%;
}
.w48p{
	width:48%;
}

.w70p{
	width:70%;
}
.w28p{
	width:28%;
	*width:27.8%
}
.w33p{
	width:33%;
}
.w34p{
	width:34%;
}
.w27p{
	width:27%;
	*width:26.9%;}
.w23p{
	width:23%;}
.h390{
	height:378px;
	*height:424px;
}
.h195{
	height:187px;
	*height:210.5px;
}
.h280{
	height:280px;
}
.h175{
	height:175px;
}
.h56{
	height:56px;
}
.h40{
	height:40px;}
.w56{
	width:56px;
}
.h125{
	height:125px;}

.bd, .bd td{
  font-weight: bold;
}
.mauto{
	margin:0 auto;
}
.lh{
	line-height:30px;
}
